#search {
    bottom: 0;
    height: 10%;
    left: 0;
    position:absolute;
    right: 0;
    top: 0;
    width: 100%;
	overflow:hidden;
	border-bottom:.5px;
	border-right-style: ridge;
	box-shadow: 0px 3px 0px #F0F0F0;
}

#left {
    bottom: 0;
    height: 85%;
    left: 0;
    position:absolute;
    right: 0;
    top: 9.4%;
    width: 100%;
	
}

iframe{    
	border:0;
}

#help{
	width:5%;
	height:50px;
}

.has-search{
	width:40%;
	align:center;
	padding:0;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-search {
    position:absolute;
	 z-index: 2;
    display: block;
    width: 2.375rem;
    height: 1.375rem;
    line-height: 2.375rem;
    text-align: left;
    pointer-events: none;
	
}

#playIcon{
	width: 4.375rem;
    height: 1.9rem;
}

#videoScreenRight{
	width: 200px;
}

#leftContent{
	margin-left:8%;
}
 
#rightContent{
	margin-left:6%;
}


#videoScreen{
	width: 700px;
} 










